@model archivesystemWebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Change Password</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">&times;</a>
                @Html.ValidationSummary(true, "Errors: ")
            </div>
            }
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {@class = "form-horizontal changePasswordForm", role = "form"}))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new {@class = "control-label"})
                    @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="submit-section">
                    <input type="button" class="btn btn-primary submit-btn" onclick="changePassword()" value="Update Password">
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}