@model archivesystemWebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "../Shared/_AccountLayout.cshtml";

}

<div class="account-content">
    @Html.ActionLink("Login", "Login", "Account", "", new { @class = "btn btn-primary apply-btn" })

    <div class="container">

        <!-- Account Logo -->
        <div class="account-logo">
            <a href="@Url.Action("Index", "Home")"><img src="/Content/assets/img/logo2.png" alt="Archive System"></a>
        </div>
        <!-- /Account Logo -->

        <div class="account-box shadow">
            <div class="account-wrapper">
                <h3 class="account-title">Forgot Password?</h3>
              <br />
                <p class="account-subtitle">Enter your email to receive a link to reset your password.</p>
                <hr />

                <!-- Account Form -->
                @using (Ajax.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions
                {
                    OnSuccess = "OnSuccess",
                    OnFailure = "OnFailure",
                    LoadingElementId = "saving",
                    LoadingElementDuration = 2000


                }, new { id = "ForgotPasswordForm" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "" })
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="submit-section">
                        <div id="saving" class="fa-2x" style="color: gray; display: none">
                            <i class="fa fa-cog fa-spin  fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Email Link</button>
                        </div>

                    </div>
                    <div class="account-footer">
                        <p>Don't have an account yet? @Html.ActionLink("Register", "Register", "Account")</p>
                    </div>
                }
                <!-- /Account Form -->

            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")  
<script>

    function OnSuccess(response) {
        debugger;
        if (response == "success") {
           


            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Success: User has been given an Access!',
                showConfirmButton: false,
                timer: 2000
            });


        } else if (response == "failure") {
            debugger;
            $("#ForgotPasswordForm").html(response);
            $("#ForgotPasswordForm").html("show");
            $.validator.unobtrusive.parse("#ForgotPasswordForm");
        }
    }
</script>
}

