@model archivesystemWebUI.Models.EnrollViewModel
    @{
        ViewBag.Title = "Enroll";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

  
     <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Employee Enrollment</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Enroll</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
      
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0 text-center">Employee Enrollment</h4>
                            </div>
                           
                               
                            <div class="card-body">
                                @using (Html.BeginForm("Enroll", "Employees", FormMethod.Post))
                            {
                                @Html.ValidationSummary(true, "", new { @class = "text-danger " })
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(e => e.FirstName, new{@class= "col-lg-3 col-form-label" })
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(e => e.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                            
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(e => e.Email, new{@class= "col-lg-3 col-form-label" })
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(e => e.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(e => e.Email, "", new { @class = "text-danger" })
                                            </div>
                                     
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(e => e.MaritalStatus, new { @class = "col-lg-3 col-form-label" })
                                            <div class="col-lg-9">
                                                @Html.EnumDropDownListFor(e => e.MaritalStatus, "Select Marital Status", new { @class = "select" })
                                                @Html.ValidationMessageFor(e => e.MaritalStatus, "", new { @class = "text-danger" })
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="form-group row">
                                            @Html.LabelFor(e => e.LastName, new{@class= "col-lg-3 col-form-label" })
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(e => e.LastName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(e => e.LastName, "", new { @class = "text-danger" })
                                            </div>
                                           
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(e => e.StaffId, new { @class = "col-lg-3 col-form-label" })
                                            <div class="col-lg-9">
                                                @Html.TextBoxFor(e => e.StaffId, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(e => e.StaffId, "", new { @class = "text-danger" })
                                            </div>
                                            
                                        </div>
                                        <div class="form-group row">
                                            
                                            @Html.LabelFor(e => e.DepartmentId, new {@class="col-lg-3 col-form-label"})

                                            <div class="col-lg-9">
                                                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "Select Department", new { @class = "select" })
                                                @Html.ValidationMessageFor(e => e.DepartmentId, "", new { @class = "text-danger" })
                                            </div>
                                            
                                        </div>
                                      
                                    </div>
                                </div>
                               
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
               

            </div>
    