@using archivesystemWebUI.Models.RoleViewModels
@model UsersInRoleViewModel

@{
    ViewBag.Title = "Users In Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
    </div>
    <hr />


    <div class="col-auto float-right ml-auto">
        <a id="addBtn" href="/roles" class="btn add-btn shadow "><i class="fa fa-plus"></i> Go To All Roles</a>
    </div>

    <h3 class="page-title">Users in @Model.RoleName role</h3>

    <br />
    <table id="user-roles-table" class="table table-active  table-striped custom-table mb-0  shadow">
        <thead>

            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Department
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>


                </tr>
            }
        </tbody>

    </table>
</div>


<!-- BEGIN: Scripts -->
@section scripts{
    @Scripts.Render("~/Content/datatables/js")
    <script src="~/Content/assets/js/rolesControllerScript.js"></script>
}
<!-- END: Scripts -->