@using archivesystemDomain.Entities
@model archivesystemDomain.Entities.AppUser
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var designation = "";
    switch (Model.Designation)
    {
        case Designation.Student:
            designation = "Student";
            break;
        case Designation.Alumni:
            designation = "Alumni";
            break;
        case Designation.Staff:
            designation = "Staff";
            break;
        default:
            break;

    }
    }

<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="card mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="#"><img alt="" src="/Content/assets/img/profiles/avatar-02.jpg"></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">@Model.Name</h3>
                                        <h6 class="text-muted">@Model.Department.Name</h6>
                                        <small class="text-muted">Designation: @designation</small>
                                        <div class="staff-id">Enrollment ID : @Model.TagId</div>
                                        @* <div class="small doj text-muted">Date of Join :@Model.Appointed.ToString("dd MMM, yyyy") </div> *@

                                        @if (!Model.Completed)
                                        {
                                            <div class="staff-msg"><a class="btn btn-custom" href="@Url.Action("ResendConfirmation", new {id = Model.Id, email = Model.Email, name = Model.Name})">Resend Confirm Link</a></div>
                                        }
                                       
                                        @if (TempData["ConfSent"] != null)
                                        {
                                            <div class="text-success">
                                                @TempData["ConfSent"]
                                            </div>
                                        }
                                        else if(TempData["ConfFailed"] != null)
                                        {
                                    <div class="text-danger">
                                        @TempData["ConfFailed"]
                                    </div>
                                        }

                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="title">Phone:</div>
                                            <div class="text"><a href="">@Model.Phone</a></div>
                                        </li>
                                        <li>
                                            <div class="title">Email:</div>
                                            <div class="text"><a href="">@Model.Email</a></div>
                                        </li>

                                        <li>
                                            <div class="title">Gender:</div>
                                            <div class="text">

                                                @switch (Model.Gender)
                                                {
                                                    case Gender.Male:
                                                        @("Male")
                                                        break;
                                                    case Gender.Female:
                                                        @("Female")
                                                        break;
                                                }
                                            </div>
                                        </li>
                                        <li>
                                            <div class="title">Roles:</div>
                                            <div class="text"><a href=""></a></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</div>
<!-- /Page Content -->