
@model archivesystemWebUI.Models.TicketViewModel

@{
    var title = "Add";
    var col = "12";
    if (Model.Id !=0)
    {
        title = "Update";
        col = "6";
    }
}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@title Ticket</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm("SaveTicket", "Settings", new AjaxOptions
            {
                OnSuccess = "OnTicketSuccess",
                OnFailure = "OnTicketFailure",
                LoadingElementId = "saving",
                LoadingElementDuration = 1000

            }, new { id = "ticketForm" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "" })
                @Html.AntiForgeryToken()
                @Html.HiddenFor( c=> c.Id);
            <div class="row">
                <div class="col-sm-@col">
                    <div class="form-group">
                        @Html.LabelFor(e => e.Name)

                        @Html.TextBoxFor(e => e.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Name)

                    </div>
                </div>

                <div class="col-sm-@col">
                    <div class="form-group">
                        @Html.LabelFor(e => e.Acronym)

                        @Html.TextBoxFor(e => e.Acronym, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Acronym)

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(e => e.Designation)
                        @Html.EnumDropDownListFor(e => e.Designation, "Select Designation", new { @class = "select" })
                        @Html.ValidationMessageFor(e => e.Designation)
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(e => e.WorkFlow)
                        @Html.EnumDropDownListFor(e => e.WorkFlow, "Select WorkFlow", new { @class = "select" })
                        @Html.ValidationMessageFor(e => e.Designation)
                    </div>
                </div>

                @if (Model.Id == 0)
                {
                    @Html.HiddenFor(e => e.Status);
                }
                else
                {
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Status)
                            @Html.EnumDropDownListFor(e => e.Status, "Select status", new { @class = "select" })
                            @Html.ValidationMessageFor(e => e.Status)
                        </div>
                    </div>

                }



            </div>

                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Submit</button>
                    <div id="saving" class="fa-2x" style="color: gray; display: none">
                        <i class="fa fa-cog fa-spin  fa-fw" aria-hidden="true"></i>
                        <span class="sr-only">Saving. Hang tight!</span>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


<script>
    function OnTicketSuccess(response) {

            if (response.saved) {


                $('#ticketModal').modal('hide');

                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Ticket Successfully Created',
                    showConfirmButton: false,
                    timer: 1500
                });

                $("#tickets").DataTable().ajax.reload();
            } else if (response.updated) {

                $('#ticketModal').modal('hide');

                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Ticket Successfully Updated',
                    showConfirmButton: false,
                    timer: 1500
                });
                $("#tickets").DataTable().ajax.reload();
            }

            else {

                $("#ticketModal").html(response);
                $("#ticketModal").modal("show");
                $.validator.unobtrusive.parse("#ticketForm");

                if ($('#ticketModal .select').length > 0) {
                    $('#ticketModal .select').select2({
                        minimumResultsForSearch: -1,
                        width: '100%'
                    });

                }

            }
        }

        function OnTicketFailure(response) {
            console.log(response);
        }
</script>
