@using archivesystemDomain.Entities
@using archivesystemWebUI.Models
@model CreateFolderViewModel
@{
    ViewBag.Title = "Create Folder";
}

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title" style="display:flex; justify-content: start;">New Folder</h3>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "Folder", FormMethod.Post))
                {

                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary();
                    @Html.HiddenFor(x => x.ParentId);
                    <div class="form-group">

                        <input name="name" style="width: 70%; display:flex; justify-content: start; " class="form-control" rows="2" placeholder="Enter Folder Name" value="@Model.Name" />
                    </div>
                    <div class="form-group">

                        @*<select name="departmentId" style="width: 70%; display:flex; justify-content: start; " class="form-control" rows="2" typeof="number">
                            @foreach(Department level in Model.AccessLevels)
                            {
                                <option value="@level.Id">@department.Name </option>
                            }
                        </select>*@
                    </div>
                    <div class="submit-section">
                        <button style=" display:flex; justify-content: start;" class="btn btn-primary submit-btn" type="submit">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>
<!-- /Page Wrapper -->
