@using archivesystemWebUI.Models
@using archivesystemDomain.Entities
@model FolderListViewModel
@{
    ViewBag.Title = $"{Model.FolderName} Folder";
    var folders = (Stack<Folder>)Session["folderPath"];
    var lenght = folders.Count();
}

<div style="width:calc(100% - 4em); margin:0 2em;margin-top:2em; overflow:hidden;direction:ltr">
    @foreach (Folder folder in folders)
    {
        if (folder.Name != "Root")
        {
            <p style="display:inline-block;font-size:1.5em">@Html.ActionLink(@folder.Name, $"/{@folder.Id}", "folders")/</p>
        }

        else
        {
            <p style="display:inline-block;font-size:1.5em">@Html.ActionLink(@folder.Name, "Index", "Folder")/</p>
        }

    }
</div>


<!-- Page Content -->
<div class="content container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="file-wrap">
                <div class="file-sidebar">
                    <div class="file-header justify-content-center">
                        <span>@Model.FolderName Folder</span>
                        <a href="javascript:void(0);" class="file-side-close"><i class="fa fa-times"></i></a>
                    </div>
                    <form class="file-search">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="fa fa-search"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <div class="file-pro-list">
                        <div class="file-scroll">
                            <ul class="file-menu">
                                @if (Model.SubFolders.Count() > 0)
                                {
                                    foreach (Folder folder in Model.SubFolders)
                                    {
                                        <li style="display:flex;justify-content:space-between;align-items: center;" class="folderlist-folder">
                                            @Html.ActionLink(@folder.Name, $"/{@folder.Id}", "folders")

                                            <a href="" class="dropdown-link" data-toggle="dropdown" style="padding:0;width: 5px;margin:0;">
                                                <i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">

                                                <a href="#" class="dropdown-item" onclick="getEditFolderPartialView
                                                    ('@Url.Action("GetEditFolderPartialView", "Folder")', @folder.Id)"> Edit Folder</a>
                                                <a href="#" class="dropdown-item" onclick="getDeleteFolderPartialView
                                                    ('@Url.Action("GetDeleteFolderPartialView", "Folder")',@folder.Id,'@folder.Name')"> Delete Folder</a
                                            </div>
                                        </li>
                                    }
                                }

                            </ul>
                            @if (Model.FolderName != "Root")
                            {
                                using (Html.BeginForm("BackToParent", "Folder", FormMethod.Post))
                                {
                                    <input hidden name="parentId" value="@Model.ParentId" />
                                   
                                        <button type="submit" class="btn btn-primary" >Back</button>
                                    
                                }

                            }

                        </div>
                    </div>
                </div>
                <div class="file-cont-wrap" style="width:100%">
                    <div class="file-cont-inner">
                        <div class="file-cont-header">
                            <div class="file-options">
                                <a href="javascript:void(0)" id="file_sidebar_toggle" class="file-sidebar-toggle">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                            <span>File Manager</span>
                            <div class="file-options">
                                @Html.ActionLink("Add Folder", "Create", "Folder", new { id = Model.Id }, null)

                                <span class="btn-file"><input type="file" class="upload"><i class="fa fa-upload"></i></span>
                            </div>
                        </div>
                        <div class="file-content">
                            <form class="file-search">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form>
                            <div class="file-body">
                                <div class="file-scroll">
                                    <div class="file-content-inner">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Folder Modal -->
<div class="modal custom-modal fade" role="dialog" id="modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalBody">
        </div>
    </div>
</div>
<!-- / Folder Modal -->

@section scripts{
    <script src="~/Content/assets/js/archive-system.js"></script>
}