

@using archivesystemWebUI.Models.RoleViewModels
@model RemoveUserFromRoleViewModel
@{
    Layout = null;
}

<div class="modal-header">
    <h5 class="modal-title" style="text-align:center">Do you want to remove @Model.EmployeeName from @Model.RoleName role?</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div style="margin:auto;display:flex;justify-content:center;flex-direction:column" id="delfolder-con">
        <div style="margin:auto;display:flex;justify-content:center">
            @using (Html.BeginForm("RemoveUserFromRole", "Roles", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <input value="@Model.RoleName" type="text" hidden  id="RUFR-rolename" name="roleName" />
                <input value="@Model.UserId" type="text" hidden  id="RUFR-userId" name="userId" />
                <input class="btn btn-danger" type="submit" value="Yes" />

            }
            <button class="btn btn-primary" style="margin-left:0.5em" id="RUFR-no"> No</button>
        </div>


    </div>
</div>


