<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="la la-dashboard"></i> <span> Dashboard</span> </a>

                </li>
                <li class="">
                    <a href="@Url.Action("Index", "Employees")"><i class="la la-user"></i> <span> User Management</span> </a>

                </li>
                <li class="menu-title">
                    <span>Role Management</span>
                </li>
                <li class="submenu">
                    <a href="#" class="noti-dot"><i class="la la-tools"></i> <span> Roles</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="@Url.Action("Index", "Roles")">All Roles</a></li>

                    </ul>
                </li>

                <li class="menu-title">
                    <span>Manage Faculties</span>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Faculty")"><i class="la la-school"></i> <span> All Faculties </span></a>

                </li>

                <li class="menu-title">
                    <span>Manage Departments</span>
                </li>
                <li class="">
                    <a href="@Url.Action("Index", "Department")"><i class="la la-school"></i> <span> Departments </span></a>

                </li>

                <li class="menu-title">
                    <span>Manage Access Level</span>
                </li>

                <li class="submenu">
                    <a href="#" class="noti-dot"><i class="la la-tools"></i> <span> AccessLevels</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="@Url.Action("ManageAccessLevel", "AccessLevel")">All AccessLevels</a></li>
                        <li><a href="@Url.Action("CreateAccessLevel", "AccessLevel")">Create</a></li>

                    </ul>
                </li>


                <li class="submenu">
                    <a href="#" class="noti-dot"><i class="la la-tools"></i> <span> User Access Levels</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="@Url.Action("ManageUserAccess", "UserAccess")">All AccessLevels</a></li>
                        <li><a href="@Url.Action("AddUser", "UserAccess")">Assign User Access</a></li>

                    </ul>
                </li>
                
                
                <li class="menu-title">
                    <span>Archive</span>
                </li>
                <li><a href="@Url.Action("Index", "Folder")"><i class="la la-archive"></i> <span> File Manager</span></a></li>
            </ul>
        </div>
    </div>
</div>
