@using WebGrease.Css.Extensions
@model archivesystemDomain.Entities.Application

@foreach (var signer in Model.Signers.OrderBy(s => s.InviteTime))
{

    foreach (var approval in Model.Approvals)
    {
        if (Model.Approvals.Select(a => a.UserId).Contains(signer.UserId) && Model.Approvals.SingleOrDefault(a => a.UserId == signer.UserId)?.Approve == null)
        {

            <li>
                <a  href="@Url.Action("Details","Users", new{id = signer.UserId})">
                    <div class="list-item">
                        <div class="list-left">
                            <span class="avatar"></span>
                        </div>
                        
                        <div class="list-body">
                            <span class="message-author">@signer.User.Name <i class="fa fa-dot-circle-o text-success"></i></span>
                            <div class="clearfix"></div>
                            <span class="message-content">@signer.User.Phone</span>
                        </div>
                    </div>
                </a>
            </li>

        }
        else
        {
            <li>
                <a  href="@Url.Action("Details","Users", new{id = signer.UserId})">
                    <div class="list-item">
                        <div class="list-left">
                            <span class="avatar"></span>
                        </div>
                        <div class="list-body">
                            <span class="message-author">@signer.User.Name</span>
                            <div class="clearfix"></div>
                            <span class="message-content">@signer.User.Phone</span>
                        </div>
                    </div>
                </a>
            </li>
        }

    }

   
}

