@model archivesystemWebUI.Models.AssignUsersVm

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign the user to sign</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center"> <small class="block text-ellipsis m-b-15"><span class="text-warning">Assign Them in the Order, that the document will be signed!</span></small></p>
                <div class="modal-body">

                    @using (Ajax.BeginForm("AssignUsers", "Application", new AjaxOptions
                    {
                        OnSuccess = "OnAssignSuccess",
                        OnFailure = "OnAssignFailure",
                        LoadingElementId = "saving",
                        LoadingElementDuration = 1000

                    }, new { id = "assignForm"}))
                    {
                        @Html.ValidationSummary(true, "", new { @class = ""})
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(e => e.Id)
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(e => e.UserIds)
                                    @Html.DropDownListFor(e => e.UserIds, new List<SelectListItem>(), "", new { @class = "select", multiple = "multiple" })
                                    @Html.ValidationMessageFor(e => e.UserIds)
                                </div>
                            </div>
                        </div>

                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                            <div id="saving" class="fa-2x" style="color: gray; display: none">
                                <i class="fa fa-cog fa-spin  fa-fw" aria-hidden="true"></i>
                                <span class="sr-only">Saving. Hang tight!</span>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <script>

        function OnAssignSuccess(response, status, xhr) {
            debugger;
            console.log(xhr.status === 201);
            if (xhr.status === 201) {


            $('#modal_container').modal('hide');

            $("#signers").append(response);
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Assigned Successfully',
                showConfirmButton: false,
                timer: 1500
            });

            } else if (xhr.status === 200) {
                $("#modal_container").html(response);

                $("#modal_container").modal("show");
                          
                $.validator.unobtrusive.parse("#assignForm");
                if ($('#assignForm .select').length > 0) {
                               
                    $('#assignForm .select').select2({

                        placeholder: 'Assign Users',
                        width: '100%',
                        allowClear: true,
                        ajax: {
                            url: "/users/officers/" + addButton.attr("data-deptId"),
                            dataType: "json",
                            delay: 250,
                            data: function(params) {
                                return {
                                    searchTerm: params.term
                                };
                            },
                            processResults: function(data, params) {
                                return {
                                    results: data
                                };
                            }
                        }

                    });

                }
            }
        }
    </script>