@model archivesystemWebUI.Models.ApplicationVm

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("Save", "Applications", new AjaxOptions
                {
                    OnSuccess = "OnAppSuccess",
                    OnFailure = "OnAppFailure",
                    LoadingElementId = "saving",
                    LoadingElementDuration = 1000

                }, new { id = "appForm", enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(c => c.UserId);
                <div class="row">


                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.ApplicationTypeId)
                            @Html.DropDownListFor(m => m.ApplicationTypeId, new SelectList(Model.ApplicationTypes, "Id", "Name"), "Select Type", new { @class = "select" })
                            @Html.ValidationMessageFor(e => e.ApplicationTypeId)
                        </div>
                    </div>



                    @if (User.IsInRole("Student"))
                    {
                        @Html.HiddenFor(c => c.DepartmentId);
                    }
                    else
                    {
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(e => e.DepartmentId)
                                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "Select Type", new { @class = "select" })
                                @Html.ValidationMessageFor(e => e.DepartmentId)
                            </div>
                        </div>
                    }
                    <div class="col-sm-6">
                        <div class="form-group">

                            @Html.LabelFor(e => e.FileBase)
                            @Html.TextBoxFor(e => e.FileBase, new { @class = "form-control", type = "file" })
                            @Html.ValidationMessageFor(e => e.FileBase)
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Note)

                            @Html.TextAreaFor(e => e.Note, new { @class = "form-control" , rows=4 })
                            @Html.ValidationMessageFor(e => e.Note)

                        </div>
                    </div>


                </div>

                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                        <div id="saving" class="fa-2x" style="color: gray; display: none">
                            <i class="fa fa-cog fa-spin  fa-fw" aria-hidden="true"></i>
                            <span class="sr-only">Saving. Hang tight!</span>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
<script>
    function OnAppSuccess(response) {

        if (response.saved) {


            $('#new_request').modal('hide');

            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Request Successfully Sent',
                showConfirmButton: false,
                timer: 1500
            });

            $("#myApplications").DataTable().ajax.reload();
        }
        else {

            $("#new_request").html(response);
            $("#new_request").modal("show");
            $.validator.unobtrusive.parse("#appForm");

            if ($('#new_request .select').length > 0) {
                $('#new_request .select').select2({
                    minimumResultsForSearch: -1,
                    width: '100%'
                });
            }
           
        }
    }

    function OnAppFailure(response) {
        console.log(response);
    }
</script>