@model archivesystemDomain.Entities.AccessDetails

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>

    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove user from Access" class="btn btn-default" />
        </div>
    }
</div>*@



<div class="account-content">

    <div class="container">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "AccessLevel")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("ManageUserAccess", "AccessLevel")">Manage User Access</a></li>
                        <li class="breadcrumb-item active">Remove User</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- /Page Header -->

        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">Remove User from Access Level?</h3>
                @*<p class="account-subtitle">To access your Dashboard</p>*@
            <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="text-center">

                <dt>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployeeName)
                </dd>
               
                    <dt>
                        @Html.DisplayNameFor(model => model.AccessLevel)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccessLevel)
                    </dd>
              

            </div>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    <div class="form-group text-center">
                        <button class="btn btn-primary account-btn" type="submit">Remove</button>
                    </div>
                }



            </div>
        </div>
    </div>



</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
