

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="content container-fluid">

        
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Access Level Management Dashboard</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                        <div class="dash-widget-info">
                            <h3>Manage Access Level</h3>
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="@Url.Action("CreateAccessLevel", "AccessLevel")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Level</a>
                                        <a class="dropdown-item" href="@Url.Action("ManageAccessLevel", "AccessLevel")"><i class="fa fa-eye" aria-hidden="true"></i> View Levels</a>
                                    </div>
                                </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                        <div class="dash-widget-info">
                            <h3>Manage User Access</h3>
                            <span>
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="@Url.Action("AddUserToAccess", "AccessLevel")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add User</a>
                                        <a class="dropdown-item" href="@Url.Action("ManageUserAccess", "AccessLevel")"><i class="fa fa-eye" aria-hidden="true"></i> View Users</a>

                                    </div>
                                </div>

                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="alert-success">
            @ViewBag.Message
        </div>

    </div>